.body{
  color : red;
}

.Loginbutton{
  color: #da3030;
  width:50px;
  height:25px;
  border-radius:5px;
  cursor:pointer;
  font-size:12px;
  font-weight:bolder;
};

.lableStyle
{
  color:red;
  width:50px;
};

.textBoxValues
{
  width:50px;
}